<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Add Assignments</title>
  
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="/faculty/css/assignment.css">

  
</head>
<style>
      .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

</style>
<body>

  <h1 style="text-align:center;"> Add Assignments 
</h1>
<section class="contact-wrap">
  <form class="contact-form">
<div class="col-sm-12">
<label for="">Choose Branch</label><br>
    <select class="branch">
      <option value="cse-iiit">CSE-IIIT</option>
      <option value="it-iiit">IT-IIIT</option>
      <option value="cse-4">CSE-4 YEAR</option>
      <option value="cse-5">CSE-DD</option>
      <option value="ece">ECE</option>
      <option value="chem">CHEM</option>
      <option value="mesh">MECH</option>
    </select>
</div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Assignment Title</label>
        <input type="text" id="title" class="form-control">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
        <label for="">Problem Description</label>
        <textarea id="prob-desc" rows=10 type="text" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
        <label for="">Sample Input</label>
        <textarea id="sample-input" rows="3" type="text" class="form-control"></textarea>
      </div>
      <div class="input-block textarea">
        <label for="">Sample Output</label>
        <textarea id="sample-output" rows="3" type="text" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
        <label for="">Submission Date</label>
        <input id="date" type="date" class="form-control">
      </div>
    </div>
    <div class="col-sm-12">
      <button id="submit" class="square-button">Submit</button>
    </div>
  </form>
</section>
</div>
<script  src="/faculty/js/form-assignment.js"></script>
</body>

</html>
