<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/views/faculty/css/style2.css"/>
</head>

<body>

    <div style="border:10px solid;top:10rem;left:40rem; height:80rem;">
        <button value="log out" style="position:absolute;top:20px;padding:10px;right:20px;width:80px; background-color:moccasin;"
            id="LogOut">Log Out</button>
<div class="dropdown" >

    <button class="dropbtn"  style="position:relative;top:30px; left:40px;">Select Year</button>
    <div class="dropdown-content">
        <a href="#">First Year</a>
        <a href="#">Second Year</a>
        <a href="#">Third Year</a>
        <a href="#">Fourth Year</a>
        <a href="#">Fifth Year(Dual Degree)</a>
    </div>
</div>

<div style="position:absolute;top:200px;left:40px;background:20px solid black;" id="master div">
<div class="cards"><a href ="">Assignment one</a><br><br><br>Branch:<div style ="inline" id="First assign"></div></div>
<div class="cards"><a href="">Assignment second</a><br><br><br>Branch:<div style="inline" id="Second assign"></div></div>
<div class="cards"><a href="">Assignment three</a><br><br><br>Branch:<div style="inline" id="Third assign"></div></div>
<div class="cards"><a href="">Add more..</a><div id="New assign"></div></div>
</div>
</div>


</body>

</html>