<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CodePen - Random Login Form</title>
  <link rel="stylesheet" href="/misc/css/style.css">
</head>

<body>
  <div class="body"></div>
	
		</div>
		<br>
		<div class="login">
				<button onclick="window.location.href = '/';"> Log In as a Teacher</button>
				<button value="Log In as a Student" onclick="window.location.href = 'https://w3docs.com';" > Log In as a Student </button>
		</div>
		<div class="signup">
			<button onclick="window.location.href = 'https://w3docs.com';"> Sign Up for a Teacher</button>
			<button value="Log In as a Student" onclick="window.location.href = 'https://w3docs.com';"> Sign Up for a Student</button>
		</div>

</body>

</html>